@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300&display=swap');

body{
    backdrop-filter: blur(3px);
    background-image: url(i.jpg);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color:white  ;

    text-align: center;
}

h1{
    color: brown;
}

.n{
 font-size: 30px;

}

#asv{
color: #1008ea;
}
